<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-info" (click)="goBack()">
            <i class="fa fa-plus-square-o"></i>
            Back</a> 
    </div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="addDoctor()">
  <input type="hidden" class="form-control"  [(ngModel)]="model.doctorId" name="doctorId">
  <div class="form-group">
    <label for="position" class="col-sm-2 control-label">Doctor name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.doctorName" name="doctorName">
    </div>
  </div>
  <div class="form-group">
    <label for="department" class="col-sm-2 control-label">Address : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.doctorAddress" name="doctorAddress">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">Email : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.doctorEmail" name="doctorEmail">
    </div>
  </div>
  
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">Handphone : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.doctorHandphone" name="doctorHandphone">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">SIP : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.doctorSip" name="doctorSip">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">Code : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.doctorCode" name="doctorCode">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
   
  </div>
  </form>
  
  </div>
  </div>
  