<div class="panel panel-default">
  <!-- <div class="panel-heading">
      <a class="btn btn-info" (click)="goBack()">
          <i class="fa fa-plus-square-o"></i>
          Back</a> 
  </div> -->
  <div class="panel-heading">
      <a class="btn btn-info" (click)="goBack()">
          <i class="fa fa-plus-square-o"></i>
          Cancel</a> 
  </div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="updateCustomer()">

      <input type="hidden" class="form-control"  [(ngModel)]="model.customer_id" name="customer_id">
      <div class="form-group">
        <label for="position" class="col-sm-2 control-label">customer name : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.customer_name" name="customer_name">
        </div>
      </div>
      <div class="form-group">
        <label for="department" class="col-sm-2 control-label">birthdate : </label>
        <div class="col-sm-9">
          <input type="date" class="form-control"  [(ngModel)]="model.birthdate" name="birthdate">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">age : </label>
        <div class="col-sm-9">
          <input type="number" class="form-control"  [(ngModel)]="model.customer_age" name="customer_age">
        </div>
      </div>
      
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">address : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="model.client_address" name="client_address">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">postal code : </label>
        <div class="col-sm-9">
          <input type="number" class="form-control"  [(ngModel)]="model.postal_code" name="postal_code">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">phone number : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="model.phone_number" name="phone_number">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">email : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="model.email" name="email">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">identity type : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="model.identity_type" name="identity_type">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">identity number : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="model.identity_number" name="identity_number">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">reference : </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="model.reference" name="reference">
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label">deposite : </label>
        <div class="col-sm-9">
          <input type="number" class="form-control"  [(ngModel)]="model.deposite" name="deposite">
        </div>
      </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Update</button>
    </div>
   
  </div>
</form>

  </div>
</div>
