<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-info" (click)="goBack()">
            <i class="fa fa-plus-square-o"></i>
            Back</a> 
            <!-- <b>Edit Category</b> -->
    </div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="addCategory()">
  <!-- <div class="form-group">
    <label for="emp_name" class="col-sm-2 control-label">Category ID : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.categoryId" name="categoryId">
    </div>
  </div> -->
  <input type="hidden" class="form-control"  [(ngModel)]="model.categoryId" name="categoryId">
  <div class="form-group">
    <label for="position" class="col-sm-2 control-label">category type : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.categoryType" name="categoryType">
    </div>
  </div>
  <div class="form-group">
    <label for="department" class="col-sm-2 control-label">category name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.categoryName" name="categoryName">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">category code : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.categoryCode" name="categoryCode">
    </div>
  </div>

  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">description : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.description" name="description">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">size : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.size" name="size">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">price : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.price" name="price">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">discount : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.discount" name="discount">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
      <!-- <a  class="btn btn-info" (click)="goBack()">Cancel</a> -->
    </div>
   
  </div>
</form>

  </div>
</div>
