<div class="panel panel-default">
    <div class="panel-heading">
      <b>{{statusProcess}}</b>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" (submit)="updateDoctor()">
  
        <input type="hidden" class="form-control"  [(ngModel)]="model.doctorId" name="doctorId">
        <div class="form-group">
          <label for="position" class="col-sm-2 control-label">Doctor name : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="model.doctorName" name="doctorName">
          </div>
        </div>
        <div class="form-group">
          <label for="department" class="col-sm-2 control-label">Address : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.doctorAddress" name="doctorAddress">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">Email : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.doctorEmail" name="doctorEmail">
          </div>
        </div>
        
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">Handphone : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.doctorHandphone" name="doctorHandphone">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">SIP : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.doctorSip" name="doctorSip">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">Code : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.doctorCode" name="doctorCode">
          </div>
        </div>

    <div class="form-group">
      <div class="text-center">
        <button type="submit" class="btn btn-success"><i class="fa fa-refresh"></i> Save</button>
        <button class="btn btn-info" (click)="tonggleAddReset()"><i class="fa fa-plus-square-o"></i> Reset</button> 
      </div>   
    </div>
  </form>
  
    </div>
  </div>
  