<div class="panel panel-default">
  <div class="panel-heading">
      <a class="btn btn-info" (click)="goBack()">
          <i class="fa fa-plus-square-o"></i>
          Cancel</a> 
  </div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="updateCustomer()">

        <input type="hidden" class="form-control"  [(ngModel)]="model.customer_id" name="customer_id">
        <input type="hidden" class="form-control"  [(ngModel)]="model.pet_id" name="pet_id">
        <div class="form-group">
          <label for="position" class="col-sm-2 control-label">doctor id : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="model.doctor_id" name="doctor_id">
          </div>
        </div>
        <div class="form-group">
          <label for="department" class="col-sm-2 control-label">species id : </label>
          <div class="col-sm-9">
            <input type="date" class="form-control"  [(ngModel)]="model.species_id" name="species_id">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">pet name : </label>
          <div class="col-sm-9">
            <input type="number" class="form-control"  [(ngModel)]="model.pet_name" name="pet_name">
          </div>
        </div>
    
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">pet sex : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.pet_sex" name="pet_sex">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">birthdate : </label>
          <div class="col-sm-9">
            <input type="number" class="form-control"  [(ngModel)]="model.pet_birthdate" name="pet_birthdate">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">pet age : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.pet_age" name="pet_age">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">breed : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.breed" name="breed">
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">color : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="model.color" name="color">
          </div>
        </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Update</button>
    </div>
   
  </div>
</form>

  </div>
</div>
