<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-info" (click)="goBack()">
            <i class="fa fa-plus-square-o"></i>
            Back</a> 
            <!-- <b>Edit Category</b> -->
    </div>
    <div class="panel-body">
      <form class="form-horizontal" (submit)="updateClinic()">
       
  <!-- <div class="form-group">
      <label for="position" class="col-sm-2 control-label">branch_id: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.branch_id" name="branch_id" >
      </div>
  </div> -->
  <input type="hidden" class="form-control" [(ngModel)]="model.branch_id" name="branch_id" >
  <div class="form-group">
      <label for="position" class="col-sm-2 control-label">branch code: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.branch_code" name="branch_code" >
      </div>
    </div>
  <div class="form-group">
      <label for="position" class="col-sm-2 control-label">branch name: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.branch_name" name="branch_name" >
      </div>
    </div>
  <div class="form-group">
      <label for="position" class="col-sm-2 control-label">description: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.description" name="description" >
      </div>
    </div>
  <div class="form-group">
      <label for="position" class="col-sm-2 control-label">active status: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.active_status" name="active_status" >
      </div>
    </div>
  <div class="form-group">
      <label for="position" class="col-sm-2 control-label">branch level: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.branch_level" name="branch_level" >
      </div>
    </div>
  <div class="form-group">
      <label for="position" class="col-sm-2 control-label">postal_code: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.postal_code" name="postal_code" >
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success">Update</button>
        <!-- <a  class="btn btn-info" (click)="goBack()">Cancel</a> -->
      </div>
     
    </div>
  </form>
  
    </div>
  </div>
  